<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Cotizacion</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
    <br>
    <br>
    <div class="container offcanvas-start show text-bg-dark ">
        <center>
            <br>
            <h1 class="">Cotizaciones</h1>
            <br>
            <form action="/cotizacion" method="post" >
                <label class="fs-5" for="">Valor del automovil:</label>
                <input type="number" name="valor" id="valor" required="true">
                <br>
                <br>
                <label class="fs-5" for="">Porcentaje de pago Inicial:</label>
                <select name="pInicial" id="pInicial">
                    <option value="10">10%</option>
                    <option value="20">20%</option>
                    <option value="30">30%</option>
                    <option value="50">50%</option>
                    <option value="70">70%</option>
                </select>
                <br>
                <br>
                <label class="fs-5" for="">Plazos:</label>
                <select name="plazos" id="plazos">
                    <option value="12">12 Meses</option>
                    <option value="24">24 Meses</option>
                    <option value="36">36 Meses</option>
                    <option value="48">48 Meses</option>
                    <option value="60">60 Meses</option>
                    <option value="72">72 Meses</option>
                </select>
                <br>
                <br>
                <button class="fs-5" type="submit">Calcular</button>
            </form>
        
        
        <%
            if(pInicial!=0){
                let pagoInicial = 0;
                let totalFin = 0;
                let pagoMensual = 0;

                pagoInicial = valor * (pInicial/100);
                totalFin = valor - pagoInicial;
                pagoMensual = totalFin/plazos;
                
            
                %>
                <br>
                <hr class="border border-primary border-2 opacity-50">
                <h3>Resumen de la cotización</h3>
                <hr class="border border-primary border-2 opacity-50">
                <label class="fs-5">Valor del Automóvil: <%=valor%></label>
                <br>
                <label class="fs-5">Porcentaje del Pago inicial: <%=pInicial%> </label>
                <br>
                <label class="fs-5">Plazos: <%=plazos%></label>
                <br>
                <label class="fs-5">Pago Inicial: <%=pagoInicial%></label>
                <br>
                <label class="fs-5">Total a financiar: <%=totalFin%></label>
                <br>
                <label class="fs-5">Pago Mensual: <%=pagoMensual%></label>
                <br>
                <br>
                
        <% } %>
    </center>
    </div>
    <br>
    <br>
</body>
</html>